extends ../layout.pug

mixin offerTemplate (offerData)
  ul
    li(class='dataContainer')
      p#offerName=offerData.name
      p#locations=offerData.locations
      p#B2BSalary=offerData.B2Bsalary
      p#contractSalary=offerData.contractSalary
      p#skillsMustHave=offerData.skillsMustHave

block content
  include ../includes/authorizedNav.pug
  h2 Browse
  -const values = [fetchedOffers]
  -if(values.length)
    ul
      each val in values
        +offerTemplate(val)

  
  script(src='/js/displayOffers.js')