extends ../layout.pug

mixin offerTemplate(offer)
  li(class='dataContainer' id=offer._id data-offer-id=offer._id)
    -const basicInformationsKeys=['offerName', 'companyName', 'locations', 'seniority', 'skillsMustHave']
    -const unrenderedSalaries=['B2Bsalary', 'contractSalary', 'mandateContractSalary']
    -for(let key in offer)
      if key != '_id'
        if(unrenderedSalaries.length ===3 && unrenderedSalaries.includes(key))
          -unrenderedSalaries.splice(key, 1)            
          p(id=key  style="display: inline-block" 'node' class=`x${offer._id}`)= offer[key].toString().replace(/,/g, ", ")
        else if(basicInformationsKeys.indexOf(key) === -1)
          p(id=key  style="display: none" 'node' class=`x${offer._id}`)= offer[key].toString().replace(/,/g, ", ")
        else
          p(id=key)= offer[key].toString().replace(/,/g, ", ")        

    
block content
  include ../includes/authorizedNav.pug
  h2=title
  -const values = fetchedOffers
  if values.length
    ul#offersList
      each offer in values
        +offerTemplate(offer.toObject())
  div#decisionPanel
    div#offerContainer
    div#selectionPanel
      button#backOfferButton(class=`selectionButtons`)
        img(src='/img/go-back-arrow.png')  
      button#ommitOfferButton(class=`selectionButtons`) 
        img(src='/img/cross.png')
      button#saveOfferButton(class=`selectionButtons`)
        img(src='/img/love.png') 
      button#closePanelButton(class=`selectionButtons`) 
        img(src='/img/arrow.png')
    button#nextOfferButton >
    button#previousOfferButton <

  script(src='/js/generateOffers.js')
  script(src='/js/offerListPresentationLogic.js')
  script(src='/js/fetchAndRefreshOffers.js')
  script(src='/js/userDecisionLogic.js')


