extends ../layout.pug

block content
  #container
      h2=title
      form(action='/login' method='post')
        label Email
        br
        input#email(type='text' value=alredyProvidedEmail name='email' required)
        br
        label Password
        br
        input#password(type='password' name='password' required)     
        br
        div
        - const values = messages || [];
        -if(values.length)
          ul#loginFeedbackList(style=`border: 1px solid ${border}; background-color:${background};`)
            each val in values
              li= val
        button#submitButton(styles='buttons')='Login'
      span
        p
          a(href='/register') Sign in
      span
        p 
          a(href='/forgetPassword.pug') Forget password

  script(src='/js/logInValidation.js')