extends ../layout.pug


block content
  #container
    h2=title
    form(action="/user/reqister" method="post")
      div(class="input-containers")
        label User name
        br
        input#nameInput(type="text" name="name" required authocomplete="off" value=alredyProvidedName style=`border: 2px solid ${nameInputBackgroundColor};`)
        br
        span(class="register-comments")
          p#nameComment Min 2 characters

      div(class="input-containers")
        label Email
        br
        input#emailInput(type="text" name="email" required authocomplete="off" value=alredyProvidedEmail style=`border: 2px solid ${emailInputBackgroundColor};`)
        br
        span(class="register-comments")
          p#emailComment Provide correct email

      div(class="input-containers")
        label Password
        br
        input#passwordInput(type="password"  name="password" required authocomplete="off" style=`border: 2px solid ${passwordInputBackgroundColor};`)
        br
        span(class="register-comments")
          p#passwordComment 8 characters; 1 uper and lowercase, special character, number

      div(class="input-containers")
        label Repeat password
        br
        input#repeatedPasswordInput(type="password"  name="secondPassword" required authocomplete="off" style=`border: 2px solid ${secondPasswordInputBackgroundColor};`)
        br
        span(class="register-comments")
          p#repeatedPasswordComment Repeated password does not match first password
        br
        
        button#submitButton(styles="buttons") Login
    div#errorMessagesContainer
      - const values = errorMessages || [];
      -if(values.length)
        ul#errorContainer
          each val in values
            li= val
    span
      p 
        a(href='/forgetPassword.pug') Forget password
        

  script(src='/js/registrationInputHints.js')
  script(src='/js/registrationClientSideValidation.js')    

      
  