extends ../layout.pug

block content
  #container
    h2=title
    form(action="/user/reqister" method="post")
      div(class="input-containers")
        label User name
        br
        input#nameInput(type="text" name="name" required authocomplete="off" style=`background-color:${nameInputColor};`)
        br
        span(class="register-comments")
          p#nameComment Min 2 characters

      div(class="input-containers")
        label Email
        br
        input#email(type="text" name="email" required authocomplete="off" style=`background-color:${emailInputColor};`)
        br
        span(class="register-comments")
          p#emailComment Provide correct email

      div(class="input-containers")
        label Password
        br
        input#password(type="password"  name="password" required authocomplete="off" style=`background-color:${passwordInputColor};`)
        br
        span(class="register-comments")
          p#passwordComment 8 characters; 1 uper and lowercase, special character, number

      div(class="input-containers")
        label Password
        br
        input#secondPassword(type="password"  name="secondPassword" required authocomplete="off" style=`background-color:${secondPasswordInputColor};`)
        span(class="register-comments")
          p#secondPasswordComment Provided password should match first password
        br
        
        button#submitButton(styles="buttons") Login
    span
      p
        a(href='/') Login
    span
      p 
        a(href='/forgetPassword.pug') Forget password

  script(src='/js/displayAuthenticationErrors.js')    

      
  